#general
.sass-cache
.idea
.DS_Store

#tests
tests/_support/_generated/

#apioopenstudio
.env
settings.yml
public/wiki/
public/phpdoc/
dbdata/
*.key
*.key.pub

#3rd-party
/vendor
composer.lock
/composer
node_modules
npm-debug.log
package-lock.json
/build
