#general
.sass-cache
.idea
.DS_Store

#gaterdata
tests/_output/*
tmp/*
settings.yml
logs/
public/admin/css/*
public/admin/js/*
public/admin/images/*
certs/

#composer
/vendor
composer.lock

#node
node_modules
npm-debug.log
package-lock.json

#docker
.env
\#innodb_temp/
dbdata/
docker/
docker-compose.yml

#wiki
public/wiki
public/phpdoc
