#general
.sass-cache
.idea
.DS_Store

#tests
tests/_support/_generated/

#apiopenstudio
includes/Endpoint/vendor/
includes/Output/vendor/
includes/Processor/vendor/
includes/Security/vendor/
public/phpdoc/
dbdata/
log/
.env
settings.yml
*.key
*.key.pub

#3rd-party
/vendor
composer.lock
/composer
node_modules
npm-debug.log
package-lock.json
/build
