{% for messagetype, message in messages %}
  {% if messagetype == 'info' %}
    {% set message_colour = 'green accent-2' %}
  {% endif %}
  {% if messagetype == 'warning' %}
    {% set message_colour = 'yellow lighten-3' %}
  {% endif %}
  {% if messagetype == 'error' %}
    {% set message_colour = 'red' %}
  {% endif %}
  {% for text in message %}
    <div class="row apiopenstudio-alert">
      <div class="col s10 m12">
        <div class="card {{ message_colour }}">
          <div class="row">
            <div class="col s12 m10">
              <div class="card-content">
                <p>{{ text | raw }}</p>
              </div>
            </div>
            <div class="col s2 m2">
              <i class="small material-icons close-apiopenstudio-alert">close</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}  
{% endfor %}
