 <footer class="page-footer  teal lighten-1 black-text">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">GaterData</h5>
        <p class="grey-text text-lighten-4">It's open source!</p>
        <p class="grey-text text-lighten-4">Build Api's faster and at less cost.</p>
        <p class="grey-text text-lighten-4">&copy; Copyright 2018 by <a href="https://gaterdata.com/">Gaterdata</a></p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://gitlab.com/john89/gaterdata/wikis/home" target="_blank">Documentation</a></li>
          <li><a class="grey-text text-lighten-3" href="#" target="_blank">Privacy</a></li>
          <li><a class="grey-text text-lighten-3" href="#" target="_blank">License</a></li>
          <li><a class="grey-text text-lighten-3" href="#" target="_blank">Company</a></li>
        </ul>
      </div>
    </div>
  </div>
{#  <div class="footer-copyright">#}
{#    <div class="container">#}
{#      &copy; Copyright 2018 by <a href="https://gaterdata.com/">Gaterdata</a>#}
{#      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>#}
{#    </div>#}
{#  </div>#}
</footer>
