 <footer class="page-footer  teal lighten-1 black-text">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">ApiOpenStudio</h5>
        <p class="grey-text text-lighten-4">It's open source!</p>
        <p class="grey-text text-lighten-4">Build Api's faster and at less cost.</p>
        <p class="grey-text text-lighten-4">&copy; Copyright 2018 by <a href="https://www.apiopenstudio.com/">ApiOpenStudio</a></p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://wiki.apiopenstudio.com" target="_blank">Documentation</a></li>
          <li><a class="grey-text text-lighten-3" href="#" target="https://wiki.apiopenstudio.com/privacy.html">Privacy</a></li>
          <li><a class="grey-text text-lighten-3" href="#" target="https://wiki.apiopenstudio.com/license.html">License</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
