{% extends "page.twig" %}

{% set title = "Edit user roles" %}

{% block content %}
  <div class="row">
    <div class="section">
      <h6>Welcome to ApiOpenStudio!</h6>
    </div>
  </div>
{% endblock %}
