{% block subject 'ApiOpenStudio invite' %}

{% block body_html %}
  <p>You have been invited to register at GaterdData.</p>
  <p>Please click on the following link. Please note that this is a once-only link.</p>
  <p><a href="{{ link }}">{{ link }}</a></p>
{% endblock %}

{% block body_text %}
  You have been invited to register at GaterdData.

  Please copy and paste the following link into your browser. Please note that this is a once-only link.

  {{ link }}
{% endblock %}
