<!DOCTYPE html>
<html lang="en-gb" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ApiOpenStudio</title>
    <meta name="robots" content="noindex,nofollow" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/materialize.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/apiopenstudio.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/apiopenstudio.min.js"></script>
  </head>

  <body>
    <script>
      (function(window) {
        // set something to the global object
        window.APIOPENSTUDIO = {};
      })(window);
    </script>
    <div class="container">
      {% include 'partials/header.twig' %}
      <main>
        {% include 'partials/title.twig' %}
        {% include 'partials/flash.twig' with {'messages': messages}  %}
        {% block content %}{% endblock %}
      </main>
      {% include 'partials/footer.twig' %}
    </div>
    <script src="/js/materialize.min.js"></script>
  </body>

</html>
