<!DOCTYPE html>
<html lang="en-gb" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>GaterData</title>
    <meta name="robots" content="noindex,nofollow" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/admin/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/admin/css/gaterdata.min.css">
    <script src="/admin/js/jquery-3.3.1.min.js"></script>
    <script src="/admin/js/gaterdata.min.js"></script>
  </head>

  <body>
    <div class="container">
      {% include 'partials/header.twig' %}
      <main>
        {% include 'partials/title.twig' %}
        {% include 'partials/flash.twig' %}
        {% block content %}{% endblock %}
      </main>
      {% include 'partials/footer.twig' %}
    </div>
    <script src="/js/materialize.min.js"></script>
  </body>

</html>
