{% extends "page.twig" %}

{% set title="Password reset" %}

{% block content %}
<center>
  <div>
    <div class="container">
      <div class="z-depth-3 y-depth-3 x-depth-3 grey green-text lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px; margin-top: 100px; solid #EEE;">

        <form method="post" action="/password/reset">

          <div class='row'>
            <div class='input-field col s12'>
              <input type="text" name='email' id='email' required />
              <label for='email'>E-mail</label>
            </div>
          </div>

          <div class='row'>
            <div class='input-field col s12'>
              <p>Please enter your e-mail address. A password reset link will be sent to your e-mail address.</p>
            </div>
          </div>

          <br/>

          <div class='row'>
            <div class="input-field col s12">
              <button class="btn waves-effect waves-light" type="submit">Reset password
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>

        </form>

      </div>
    </div>
</center>
{% endblock %}
