<!-- Delete account modal -->
<div id="modal-acc-delete" class="modal">
  <form method="post" action="/account/delete">
    <input type="hidden" name="accid" value="">
    <div class="modal-content">
      <h4>Delete Account</h4>
      <p>Delete account: "<span class="delete-acc-name"></span>"?</p>
    </div>
    <div class="row">
      <div class="input-field col s3 offset-l9">
        <a class=" modal-action modal-close">Cancel</a>
        <button class="btn waves-effect waves-light red" type="submit">Delete</button>
      </div>
    </div>
  </form>
</div>
