<!-- Create account modal -->
<div id="modal-acc-create" class="modal">
  <form method="post" action="/account/create" id="account-create">
    <div class="modal-content">
      <h4>Create Account</h4>
      <p>Enter the name of your account</p>
      <div class="input-field">
        <input id="name" type="text" class="validate" name="name" autofocus">
        <label for="name">Account Name</label>
        <div class="row">
          <div class="input-field col s4 offset-s8">
            <a class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
            <button class="btn waves-effect waves-light" type="submit">Create</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
