<!-- Edit application modal -->
<div id="modal-app-edit" class="modal">
  <form method="post" action="/application/edit" id="application-edit">
    <input type="hidden" name="edit-app-appid" id="edit-app-appid">
    <div class="modal-content">
      <h4>Edit Application</h4>

      <div class="row">

        <div class="col s6">
          <div class="input-field">
            <select name="edit-app-accid" id="edit-app-accid" autofocus>
              {% for account in accounts %}
                <option value="{{ account.accid }}" {% if account.accid == accid %}selected{% endif %}>{{ account.name }}</option>
              {% endfor %}
            </select>
            <label>Account</label>
          </div>
        </div>

        <div class="col s6">
          <div class="input-field">
            <input type="text" class="validate" name="edit-app-name" id="edit-app-name" value="" autofocus>
            <label for="create-app-name">Application Name</label>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="input-field col s4 offset-s8">
          <a class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
          <button class="btn waves-effect waves-light" type="submit">Edit</button>
        </div>
      </div>

    </div>
  </form>
</div>
