<!-- Delete application modal -->
<div id="modal-app-delete" class="modal">
  <form method="post" action="/application/delete" id="application-delete">
    <input type="hidden" name="delete-app-appid" id="delete-app-appid" value="">
    <div class="modal-content">
      <h4>Delete Application</h4>

      <div class="modal-content">
        <p>Delete application: "<span id="delete-app-name"></span>"?</p>
        <p class="red-text">WARNING: this will also delete any API resources and assigned user roles belonging to the application!</p>
      </div>

      <div class="row">
        <div class="input-field col s4 offset-s8">
          <a class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
          <button class="btn waves-effect waves-light" type="submit">Delete</button>
        </div>
      </div>

    </div>
  </form>
</div>
