<!-- Create modal -->
<div id="modal-create" class="modal">
  <form method="post" action="/applications/create" id="applicatio n-create">
    <div class="modal-content">
      <h4>Create Application</h4>
      <p>Enter the name of your application</p>
      <div class="input-field">
        <input id="name" type="text" class="validate" name="create-app-name" id="create-app-name">
        <label for="name">Application Name</label>
        <div class="row">
          <div class="input-field col s4 offset-s8">
            <a class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
            <button class="btn waves-effect waves-light" type="submit">Create</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
