<!-- Create application modal -->
<div id="modal-app-create" class="modal">
  <form method="post" action="/application/create" id="application-create">
    <div class="modal-content">
      <h4>Create Application</h4>

      <div class="row">

        <div class="col s6">
          <div class="input-field">
            <select name="create-app-accid" id="create-app-accid" required>
              <option value="" disabled selected>Choose the account</option>
              {% for account in accounts %}
                <option value="{{ account.accid }}">{{ account.name }}</option>
              {% endfor %}
            </select>
            <label>Account</label>
          </div>
        </div>

        <div class="col s6">
          <div class="input-field">
            <input type="text" class="validate" name="create-app-name" id="create-app-name" required>
            <label for="create-app-name">Application Name</label>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="input-field col s4 offset-s8">
          <a class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
          <button class="btn waves-effect waves-light" type="submit">Create</button>
        </div>
      </div>

    </div>
  </form>
</div>
