<!-- Download resource modal -->
<div id="modal-resource-download" class="modal">
    <div class="modal-content">
        <h4>Download Resource</h4>
        <p>Download the resource file for <span id="resource-name"></span></p>
    </div>
    <div class="row">
        <div class="input-field col s3">
            <button class="btn waves-effect waves-light green resource-download-file yaml">YAML</button>
        </div>
        <div class="input-field col s3">
            <button class="btn waves-effect waves-light green resource-download-file json">JSON</button>
        </div>
    </div>
</div>
