<!-- Delete user modal -->
<div id="modal-user-delete" class="modal">
  <div class="modal-content">
    <div class="row">
      <h4>Delete user</h4>
      <p>Do you really want to delete user <span id="user-name" class="red-text"></span>?</p>
    </div>

    <div class="row">
      <div class="input-field col s4 offset-s8">
        <a class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
        <a class="waves-effect waves-light red btn" href="#" id="delete-user">Delete</a>
      </div>
    </div>
  </div>
</div>
