<!-- delete var modal -->
<div id="modal-var-delete" class="modal">
  <form method="post" action="/var/delete" id="var-delete">

    <input type="hidden" name="delete-var-vid" value="">

    <div class="modal-content">
      <h4>Delete Var: <span class="delete-var-key"></span></h4>

      <div class="row">
        <div class="input-field col s4 offset-s8">
          <a class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
          <button class="btn waves-effect red" type="submit">Delete</button>
        </div>
      </div>

    </div>
  </form>
</div>
