<!-- edit var modal -->
<script>
  APIOPENSTUDIO.accAppMap = [];
  {% for appid, application in applications %}
  APIOPENSTUDIO.accAppMap[{{ appid }}] = {'accid': {{ application.accid }}, 'name': "{{ application.name }}"};
  {% endfor %}
</script>
<div id="modal-var-edit" class="modal">
  <form method="post" action="/var/edit" id="var-edit">

    <input type="hidden" name="edit-var-vid" value="">

    <div class="modal-content">
      <h4>Edit Var: <span class="edit-var-key"></span></h4>

      <div class="row">
        <div class="col s12">
          <div class="input-field">
            <textarea class="validate materialize-textarea" name="edit-var-val" required></textarea>
            <label for="edit-var-val">Var value</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s4 offset-s8">
          <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
          <button class="btn waves-effect waves-light" type="submit">Update</button>
        </div>
      </div>

    </div>
  </form>
</div>
