{% extends "page.twig" %}

{% set title = "Step 3: Install complete" %}

{% block content %}
<div class="row">
  <form method="get" action="/login">

    <div class="col s12 m6 offset-m3">
      <p>Your user ({{ username }}) has been created and granted the Administrator role.</p>
      <p>Click continue to login and go to the admin area to set up your accounts, users and administrators.</p>

      <div class="input-field col s12">
        <legend class="uk-legend">Congratulations install complete!</legend>
      </div>

      <div class="col s12 m6 offset-m3">
        <button class="btn green lighten-4 black-text" type="submit">Next</button>
      </div>

    </div>
  </form>
</div>
{% endblock %}

