{% extends "page.twig" %}

{% set title = "Step 1: Setup the DB" %}

{% block content %}
<div class="row">
  <form method="post" action="/install.php">
    {% if message.type == "error" %}
      <input type="hidden" name="from_step" value="1">
      <input type="hidden" name="next_step" value="1">
        <fieldset>
          <legend>Database creation failed. Retry?</legend>
          <div>
            <button class="btn red lighten-2" type="submit" name="retry">Retry</button>
          </div>
        </fieldset>
    {% else %}
      <input type="hidden" name="from_step" value="1">
      <input type="hidden" name="next_step" value="2">
      <fieldset>
        <legend>Database successfully created!</legend>
        <div>
          <button class="btn green lighten-4 black-text" type="submit" name="next">Next</button>
        </div>
      </fieldset>
    {% endif %}
  </form>
</div>
{% endblock %}

