{% extends "page.twig" %}

{% set title = "Step 2: Create your user" %}

{% block content %}

<div class="row">
  <form method="post" action="/install.php">
    <input type="hidden" name="from_step" value="2">
    <input type="hidden" name="next_step" value="2">

    <div class="col s12 m6 offset-m3">
      <p>We will create your account that you will use to login with.</p>
      <p>This user will be the Owner account of trhe  that can:</p>
      <ul>
        <li>Create/edit/delete accounts.</li>
        <li>Create/edit/delete applications.</li>
        <li>Create/edit/delete roles.</li>
        <li>Invite/delete users.</li>
        <li>Assign users as account managers.</li>
        <li>Assign users as applicati0on administrators.</li>
        <li>Revoke user privileges.</li>
      </ul>
      <p><span class="red-text">*</span> Required fields.</p>
    </div>

    <div class="col s6">
      <div class="input-field col s12">
        <label for="username">Username <span class="red-text">*</span></label>
        <input id="username" name="username" type="text" placeholder="" class="validate" required>
      </div>
      <div class="input-field col s12">
        <label for="password">Password <span class="red-text">*</span></label>
        <input id="password" name="password" type="password" placeholder="" class="validate" required>
      </div>
      <div class="input-field col s12">
        <label for="email">Email <span class="red-text">*</span></label>
        <input id="email" name="email" type="email" placeholder="" class="validate" required>
      </div>
      <div class="input-field col s12">
        <select id="honorific" name="honorific" class="validate">
          <option value=""></option>
          <option value="Mr">Mr</option>
          <option value="Ms">Ms</option>
          <option value="Miss">Miss</option>
          <option value="Mrs">Mrs</option>
          <option value="Dr">Dr</option>
          <option value="Prof">Prof</option>
          <option value="Hon">Hon</option>
        </select>
        <label for="honorific">Title</label>
      </div>
      <div class="input-field col s12">
        <label for="name_first">First Name</label>
        <input id="name_first" name="name_first" type="text" class="validate">
      </div>
      <div class="input-field col s12">
        <label for="name_last">Last Name</label>
        <input id="name_last" name="name_last" type="text" class="validate">
      </div>
      <div class="input-field col s12">
        <label for="phone_mobile">Mobile Phone</label>
        <input id="phone_mobile" name="phone_mobile" type="text" class="validate">
      </div>
      <div class="input-field col s12">
        <label for="phone_work">Work Phone</label>
        <input id="phone_work" name="phone_work" type="text" class="validate">
      </div>
    </div>
    
    <div class="col s6">
      <div class="input-field col s12">
        <label for="company">Company</label>
        <input id="company" name="company" type="text" class="validate">
      </div>
      <div class="input-field col s12">
        <label for="website">Website</label>
        <input id="website" name="website" type="url" class="validate">
      </div>
      <div class="input-field col s12">
        <label for="address_street">Street Address</label>
        <input id="address_street" name="address_street" type="text" class="validate">
      </div>
      <div class="input-field col s12">
        <label for="address_suburb">Suburb</label>
        <input id="address_suburb" name="address_suburb" type="text" class="validate">
      </div>
      <div class="input-field col s12">
        <label for="address_city">City</label>
        <input id="address_city" name="address_city" type="text" class="validate">
      </div>
      <div class="input-field col s12">
        <label for="address_state">State</label>
        <input id="address_state" name="address_state" type="text" class="validate">
      </div>
      <div class="input-field col s12">
        <label for="address_country">Country</label>
        <input id="address_country" name="address_country" type="text" class="validate">
      </div>
      <div class="input-field col s12">
        <label for="address_postcode">Postcode</label>
        <input id="address_postcode" name="address_postcode" type="text" class="validate">
      </div>
    </div>

    <div class="col s12 m6 offset-m3">
      <button class="btn green lighten-4 black-text" type="submit">Next</button>
    </div>
    
  </form>
</div>
{% endblock %}

