body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

nav .brand-logo {
  background-image: url("/images/Krokodil-lineart.svg");
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 5rem;
}

main {
  flex: 1 0 auto;
}

.col-height {
  height: 4rem;
}

.btn-floating {
  margin-right: 1rem;
}

.close-apiopenstudio-alert{
  position: absolute;
  right: 10px;
  top: 10px;
  cursor:pointer;
}
