body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.brand-logo {
  background-image: url("/images/Krokodil-lineart.svg");
  background-repeat: no-repeat;
  background-size: auto;
}

main {
  flex: 1 0 auto;
}

.list-row {
  margin-bottom: 0;
}
