<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Your page title</title>

  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
  <!--[if lte IE 8]>
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
  <!--<![endif]--></head>

<body>
  <div id="header">
    {% block menu %}
    <div class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list">
        {% for key,value in menu %}
        <li class="pure-menu-item pure-menu-selected"><a href="{{ value }}" class="pure-menu-link">{{ key }}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endblock %}
  </div>
  <div id="main">{% block content %}{% endblock %}</div>
  <div id="footer">
    {% block footer %}
    &copy; Copyright 2011 by <a href="http://domain.invalid/">you</a>.
    {% endblock %}
  </div>
</body>
</html>
