{% extends "base.html" %}

{% set title = "Install the DB (step 1)" %}

{% block content %}
<div class="row margin-top-medium">
    <form class="ff-form horizontally-center-this" method="post">
        {% if message.type == "error" %}
        <div class="ff-input-unit">
            <p>Database creation failed. Retry?</p>
        </div>
        <input type="hidden" name="step" value="1">
        <div class="row ff-form-multi-unit">
            <div class="portion half">
                <div class="ff-form-unit">
                    <input class="ff-button shape-rounded bg-red-80 shadow-hard" type="submit" value="yes" formaction="/admin/install.php" />
                </div>
            </div>

            <div class="portion half">
                <div class="ff-form-unit">
                    <input class="ff-button shape-rounded bg-pistachio-60 shadow-hard" type="submit" value="no" formaction="/admin/" />
                </div>
            </div>
        </div>
        {% else %}
        <div class="ff-input-unit">
            <p>Database successfully created!</p>
        </div>
        <div class="row ff-form">
            <input type="hidden" name="step" value="2">

            <div class="ff-input-unit">
                <input class="ff-button shape-rounded bg-indigo shadow-hard full-width" type="submit" value="Continue" />
            </div>
        </div>
        {% endif %}
    </form>
</div>
{% endblock %}

